/* Projects.css */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.projects {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.project-item {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.project-image {
  width: 340px;
  height: 212.5px;
  object-fit: cover;
  max-width: 100%;
}


.project-info {
  padding: 15px;
  flex-grow: 1;
}

.project-info h3 {
  margin-top: 0;
  color: #333;
}

.project-info p {
  color: #666;
}

.project-month {
  font-style: italic;
  color: #888;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .projects {
    padding: 10px;
  }

  .project-item {
    flex-direction: column;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

  .project-info {
    width: 100%;
  }
  .project-description {
    width: 94%;
  }
}
