/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.navbar {
  background-color: #2c3e50;
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.navbar-logo {
  position: absolute;
  left: 1rem;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Lora', serif;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #3498db;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 80px 20px 20px;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.home {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.home h1 {
  font-family: 'Lora', serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #2c3e50;
}

.bio-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 2rem;
}

.profile-pic-container {
  flex: 0 0 270px;
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.bio {
  flex: 1;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.8;
}

.bio p {
  margin-bottom: 1rem;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contact-link {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.contact-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.projects, .blog {
  text-align: left;
}

h2 {
  font-family: 'Lora', serif;
  color: #2c3e50;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.resume {
  text-align: center;
  /* padding: 0px; */
  height: calc(100vh - 100px);
  overflow-y: visible;
}

.resume-container {
  max-width: 830px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 100%;
}

.resume-container embed {
  width: 100%;
  height: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
  .bio-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .navbar-container {
    padding: 0 1rem;
  }

  .nav-item {
    margin-left: 1rem;
  }
}

.blog-post-page {
  background-color: #ffffff !important;
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar.show {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .content {
    padding: 60px 10px 10px;
  }

  /* .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin-left: 0;
    margin-top: 1rem;
  } */

  .home h1 {
    font-size: 2rem;
  }

  .bio-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-pic-container {
    flex: 0 0 100%;
    max-width: 270px;
    margin-bottom: 1rem;
  }

  .contact-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-link {
    margin: 0.5rem 0;
  }
  
  .nav-item:first-child {
    display: none;
  }
}
